<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/Assets/img/favicon.png">
    <title>@ViewBag.Title - Carew</title>
    <!-- jshead -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js-head")
    <!-- css -->
    @Styles.Render("~/Content/css-app")
    @Styles.Render("~/Content/css-datatables")
    <!-- Firebase -->
    @Scripts.Render("~/bundles/firebase")
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
</head>
<body id="page-top">
    <audio id="audio_beep" controls>
        <source src="~/Assets/audio/beep.wav" />
    </audio>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav color-carew sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-icon">
                    <img class="img-fluid" src="~/Assets/logo/logo-web-carew.jpg" />
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fa fa-home"></i>
                    <span>Inicio</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Modulo de venta
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Listar","Venta")">
                    <i class="fas fa-dollar-sign"></i>
                    <span>Gestor de ventas</span>
                </a>
                <a class="nav-link" href="@Url.Action("POS","Venta")">
                    <i class="fas fa-cash-register"></i>
                    <span>Punto de venta</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Reportes de venta
            </div>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ReporteVentaDiaria","Venta")">
                    <i class="far fa-file"></i>
                    <span>Reporte venta diaria</span>
                </a>
                <a class="nav-link" href="@Url.Action("ReporteProductosVendidos","Venta")">
                    <i class="far fa-file-alt"></i>
                    <span>Reporte productos mas vendidos</span>
                </a>
            </li>

            <!-- Heading -->
            <div class="sidebar-heading">
                Modulo de caja
            </div>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Listar","MovimientoCaja")">
                    <i class="fas fa-coins"></i>
                    <span>Movimientos de caja</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Modulo de producto
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Listar","Producto")">
                    <i class="fas fa-cube"></i>
                    <span>Gestor productos</span>
                </a>
                <a class="nav-link" href="@Url.Action("Listar","Categoria")">
                    <i class="fa fa-tags"></i>
                    <span>Gestor categorias</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Modulo de usuario
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Listar","Usuario")">
                    <i class="fas fa-user"></i>
                    <span>Gestor usuarios</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                @RenderBody()
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="color-carew p-3">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto text-white">
                        <span>Copyright &copy; CAREW 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
    </div>
    <!-- End of Content Wrapper -->
    <!-- APP JS -->
    @Scripts.Render("~/bundles/app-scripts")
    <!-- Custom scripts for tables -->
    @Scripts.Render("~/bundles/js-datatables")
    <!-- Datatables Buttons Export -->
    @Scripts.Render("~/bundles/js-dt-exports")
    @RenderSection("js", required: false)
    @RenderSection("jsmodal", required: false)
</body>
</html>
