@model IEnumerable<SistemaCajaRegistradora.Models.Categoria>
@{
    ViewBag.Title = "Listado de categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Topbar  -->
<nav class="navbar navbar-expand navbar-light bg-white mb-4 topbar shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="text_nameuser" class="mr-2 d-none d-md-inline text-gray-600 fw-bold">Cargando...</span>
                <img id="img_user" class="img-profile rounded-circle img-fluid"
                     src="~/Assets/images/blank-profile.png">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Cambiar contraseña</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a id="linksignout" class="dropdown-item text-danger" href="javascript:;">Cerrar sesion</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row justify-content-between">
        <div class="col-4">
            <h1 class="h3 mb-4 text-gray-800">@ViewBag.Title</h1>
        </div>
        @if (Model.Count() > 0)
        {
            <div class="col-4">
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-primary" onclick="AgregarForms('@Url.Action("AgregarForms","Categoria")')" type="button">
                        <i class="fas fa-plus"></i>
                        Agregar categoria
                    </button>
                </div>
            </div>
            <!-- table -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Categoria</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model)
                            {
                                <tr>
                                    <td class="align-middle">@c.nombre</td>
                                    <td class="align-middle">
                                        <div class="row">
                                            <div class="col-12 text-truncate">
                                                @c.descripcion
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                            <button class="btn btn-warning btn-icon-split" type="button" onclick="formsEditar('@Url.Action("formsEditar", "Categoria")',@c.id)">
                                                <span class="icon text-white-50"><i class="fas fa-pen float-left"></i></span>
                                                <span class="text">Editar</span>
                                            </button>
                                            <button class="btn btn-danger btn-icon-split" type="button" onclick="formsEliminar('@Url.Action("formsEliminar", "Categoria")', @c.id)">
                                                <span class="icon text-white-50"><i class="fas fa-trash float-left"></i></span>
                                                <span class="text">Eliminar</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5>Aqui no hay categorias, intente agregando uno.</h5>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary float-right" onclick="AgregarForms('@Url.Action("AgregarForms","Categoria")')" role="button">
                                <i class="fas fa-plus"></i>
                                Agregar categoria
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- /.container-fluid -->
<!-- Modal core base-->
<div class="modal fade" id="coreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

</div>
<script src="~/Scripts/js/usersesion.js"></script>
<script src="~/Scripts/js/alertmenssages.js"></script>
<script src="~/Scripts/js/scriptsCategoria.js"></script>