@model IEnumerable<SistemaCajaRegistradora.Models.DetalleVenta>

<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body table-responsive boleta bg-opacity-75">
            <ul class="list-unstyled">
                <li class="h3 fw-bold">ALMACEN PAN Y VINO</li>
                <li>RUT: 12.491.384-5</li>
                <li>DIRECCIÓN: PJE. HERMOSO, TALCA, REGION DEL MAULE</li>
                <li>GIRO: MINIMARKET BOTILLERÍA</li>
                <li>TELEFONO: 9 87654321</li>
                <li>&nbsp</li>
                <li>&nbsp</li>
                <li>&nbsp</li>
                <li class="h3 fw-bold text-center">BOLETA N°: @Model.First().Venta.num_boleta</li>
                <li class="text-center">FECHA EMISION: @Model.First().Venta.fecha_creacion.ToShortDateString()</li>
                <li class="text-center">CAJERO: @Model.First().Venta.Usuario.nombre @Model.First().Venta.Usuario.apellido</li>
            </ul>
            <br />
            <br />
            <br />
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Producto.nombre.Trim()</td>
                            <td class="precio">@item.Producto.precio</td>
                            <td class="numero text-end">@item.total_cantidad_producto</td>
                            <td class="precio text-end">@item.total_precio_producto</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <p class="text-end fw-bold">Total</p>
                        </td>
                        <td class="precio">@Model.First().Venta.total_venta</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button id="btn_print" type="button" class="btn btn-secondary">Imprimir</button>
            <button id="btn_cerrar" type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("td.precio").each(function () { $(this).html(parseFloat($(this).text()).toLocaleString('es-CL', { style: 'currency', currency: 'CLP' })); });
    $("td.numero").each(function () { $(this).html(parseFloat($(this).text()).toLocaleString('es-CL')); });
    $("#btn_print").click(function () {
        console.log('imprimiendo...')
        $(".modal-body").printThis();
    });
    $("#btn_cerrar").click(function () {
        sessionStorage.print = false;
    });
</script>
