@model IEnumerable<SistemaCajaRegistradora.Models.Producto>
@{
    ViewBag.Title = "Listado de productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">NOMBRE DE USUARIO</span>
                <img class="img-profile rounded-circle"
                     src="~/Assets/images/blank-profile.png">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Salir del sistema
                </a>
            </div>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row justify-content-between">
        <div class="col-4">
            <h1 class="h3 mb-4 text-gray-800">@ViewBag.Title</h1>
        </div>
        @if (Model.Count() > 0)
        {
            <div class="col-4">
                <button class="btn btn-primary float-right" onclick="AgregarForms('@Url.Action("AgregarForms","Producto")')" role="button">Agregar producto</button>
            </div>
        }
    </div>
    @if (Model.Count() > 0)
    {
        <div class="card mb-2">
            <div class="card-body">
                FILTROS
            </div>
        </div>

        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-sm table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Codigo barra</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Stock Min.</th>
                            <th scope="col">Stock Max.</th>
                            <th scope="col">Prioridad</th>
                            <th scope="col">Fecha creacion</th>
                            <th scope="col">Eliminado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model)
                        {
                        <tr>
                            <th class="align-middle" scope="row">@p.codigo_barra</th>
                            <td>
                                <a href="javascript:void(0);" onclick="formsImage('@Url.Action("formsImagen","Producto")',@p.id)">
                                    <img class="rounded mx-auto d-block" src="@p.rutaImg" alt="Imagen del producto"
                                         style="width: 100px; min-width: 100px; min-height: 50px; height: 80px;" />
                                </a>
                            </td>
                            <td class="align-middle">@p.nombre</td>
                            <td class="align-middle">@p.Categoria.nombre</td>
                            <td class="align-middle"><span class="float-right">$@p.precio</span> </td>
                            <td class="align-middle">@p.stock</td>
                            <td class="align-middle">@p.stockmin</td>
                            <td class="align-middle">@p.stockmax</td>
                            <td class="align-middle">@p.Prioridad.prioridad1</td>
                            <td class="align-middle">@string.Format("{0:yyyy-MM-dd}", p.fecha_creacion) </td>
                            @if (p.eliminado == true)
                            {
                                <td class="align-middle">Si</td>
                            }
                            else
                            {
                                <td class="align-middle">No</td>
                            }
                            <td class="align-middle">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Assets/icons/three-dots-vertical.svg" />
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        @if (p.eliminado == true)
                                        {
                                            <li><a class="dropdown-item disabled">Editar</a></li>
                                            <li><a class="dropdown-item disabled">Eliminar</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="dropdown-item" href="javascript:void(0);" onclick="">Editar</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);" onclick="formsEliminar('@Url.Action("formsEliminar","Producto")', @p.id)">Eliminar</a></li>
                                        }

                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5>Aqui no hay productos, intente agregando uno.</h5>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary float-right" onclick="AgregarForms('@Url.Action("AgregarForms","Producto")')" role="button">Agregar producto</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- /.container-fluid -->
<!-- Modal core base-->
<div class="modal fade" id="coreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

</div>

<script src="~/Scripts/js/scriptsProductos.js"></script>
<script src="~/Scripts/js/scanner.js"></script>
